.homebackground-image{
    background-image: url(../Assests/home-page-background-banner.png);
    background-size: cover;

}

.maintopic-text{
    font-size: 25px;
    font-weight: 700;
    text-align: left;
    margin-bottom: 0;
}

.hero-section{
    padding-left: 15% !important;
    padding-right: 15% !important;
    padding-top: 3% !important;
}

.topicblueline-container, .topicredline-container{
    height: 5px;
}
.line-container{
    display: flex;
    gap: 10px;
}

.topicblueline-container{
    width: 44%;
    background-color: rgb(10, 10, 142);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.topicredline-container{
    width: 10%;
    background-color: rgb(199, 10, 13);
    border-top-right-radius:10px;
    border-bottom-right-radius: 10px;
}

.maintopic-description{
    margin-top: 4%;
    font-size: 17px;
    text-align: justify;
}

.hero-image{
    height: 450px;
}

.blueline-container{
    width: 100%;
    margin-top: 6%;
    height: 3px;
    background-color:  rgb(10, 10, 142);
}

@media (max-width: 992px) {
    .maintopic-text{
        font-size: 20px;
    }

    .hero-section{
        padding-left: 8% !important;
        padding-right: 8% !important;
        padding-top: 3% !important;
    }
    .maintopic-description{
        font-size: 13px;
    }
    .hero-image{
        height: 250px;
    }
}